# Python Basics for Astronomy

In [ ]:
# My first code in Python
print("hello world!")

hello world!

### 1. Comments

In [ ]:
"""
This is my first line of comment
This is my second line of comment
"""

'\nThis is my first line of comment\nThis is my second line of comment\n'

In [ ]:
# kdshfisdhf
# dsjfndsoif
# fndsjof
# sfjbnf'wdfnif
# jdnfpf;safjiefp'

### 2. Variables and Constants

In [1]:
x = 4
y = 5
print(x + x + y + x + y)

22

In [ ]:
y = 1

### 3. Basic Data Types

In [ ]:
# Create varaibles to store the information about a planet in our Solar System
planet_name = 'Venus'
planet_age = '4.6 Billion Years'
planet_index = 1     # In Python, index starts from 0. Hence, Venus is on Index 1 after Mercury on Index 0

In [ ]:
# Displaying the data values for each variables
print(planet_name)
print(planet_age)
print(planet_index)

Venus
4.6 Billion Years
1

In [ ]:
# Checking the type of variables by using type() command
print(type(planet_name))
print(type(planet_age))
print(type(planet_index))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
z = 3.2
print(type(z))

<class 'float'>

### 4. f-strings

In [2]:
# Understanding the power of f-strings
name_planet = 'venus'
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet venus has 150 Moons

In [3]:
# String concatenation
str_1 = "Earth is the only planet with Life."
str_2 = "Maybe not! :D"
print(f'{str_1} {str_2}')

Earth is the only planet with Life. Maybe not! :D

### 5. User Inputs

In [4]:
# Use input() to take user inputs
user_name = input("Enter your name:- ")

Enter your name:- anurag

In [5]:
# Displaying the variable and its type given by the user
print(user_name)
print(type(user_name))

anurag
<class 'str'>

In [6]:
# Ask user to input their fav number
user_fav_number = input('Enter your favourite number:- ')

Enter your favourite number:- 3

In [7]:
# Diplay the variable and its type given by the user
print(user_fav_number)
print(type(user_fav_number))

3
<class 'str'>

### 6. Data Type Conversion

In [8]:
# Commands to convert --> str(input), int(input), float(input)

# Convert a string data into integer and float
str_to_int = int(user_fav_number)
print(str_to_int)
print(type(str_to_int))

str_to_float = float(user_fav_number)
print(str_to_float)
print(type(str_to_float))

3
<class 'int'>
3.0
<class 'float'>

In [9]:
# Get user input of two different integers and add them together
n1 = int(input('Give any integer number:- '))
n2 = int(input('Give one more integer:- '))
print(f"The sum of {n1} and {n2} is {n1+n2}")

Give any integer number:- 23
Give one more integer:- 89
The sum of 23 and 89 is 112

### 7. Control Flow
* For Loop and While Loop
* Condition Statements

In [ ]:
# range(start, end, skip) ---> Start is inclusive and end is exclusive
range(1, 11)

range(1, 11)

In [12]:
# For loop
for index in range(1, 11, 5):
  print(index)

1
6

In [13]:
# convert any string into lower case
str_demo = 'Upper Case'
print(str_demo)

print(str_demo.lower())

Upper Case
upper case

In [14]:
# While Loop

ct = 0
print('--- Type "quit" to exit! ---')
while True:
  obj = input(f'Enter your favourite Celestial Object {ct+1}:- ')
  ct += 1 # ct = ct + 1
  if obj.lower() == 'quit':
    break

--- Type "quit" to exit! ---
Enter your favourite Celestial Object 1:- rock
Enter your favourite Celestial Object 2:- quit

### 8. Functions

In [15]:
# Creating a function to greet viewers of this video without any input arguments
def greet():
  print('Hey Astrophiles!')

In [16]:
# Call that function
greet()

Hey Astrophiles!

In [17]:
# Define a function to greet a person whose name will be given as an input
def greet_person(name):
  print(f'Hey {name}, I hope you are enjoying this session and learning a lot of things in Python!')

In [19]:
# Call that function
greet_person('Anurag')

Hey Anurag, I hope you are enjoying this session and learning a lot of things in Python!

In [20]:
# Call this function with different name
greet_person('Theerdha')

Hey Theerdha, I hope you are enjoying this session and learning a lot of things in Python!

In [21]:
# Call this function to greet everyone here watching the video
greet_person('everyone')

Hey everyone, I hope you are enjoying this session and learning a lot of things in Python!

In [23]:
# Postional Arguments
def greeting(name, msg):
  print(f'Hey {name}, {msg}')

In [24]:
# Call this function by placing the input arguments in the same order while building it
greeting('Theerdha', 'Are you an Astrophile?')

Hey Theerdha, Are you an Astrophile?

In [25]:
# Call the function by shifting the postions of the arguments
greeting('Are you an Astrophile?', 'Theerdha')

Hey Are you an Astrophile?, Theerdha

In [26]:
# Call this function with keyword arguments
greeting(msg = 'Are you an Astrophile?', name = 'Theerdha')

Hey Theerdha, Are you an Astrophile?

In [27]:
# Default arguments
def greeting_with_default_args(name, msg='Welcome to this program on Astronomy Visualization!'):
  print(f'Hey {name}, {msg}')

In [28]:
# Call this function without passing msg arg
greeting_with_default_args('Anurag', msg = 'Whats up?')

Hey Anurag, Whats up?

In [29]:
# Create a function that will either add, subtract, multiply or divide two input numbers
def basic_calc(n1, n2, operation):
  """
  Creates a basic calculator that takes n1 and n2 in the same order and performs either of:-
  - add
  - subtract
  - multiply
  - divide

  Parameters -
  -----------
  n1 - first number
  n2 - second number
  operations - any of the operations mentioned above for our basic calc

  Return -
  ------
  The output of the operation done on n1 and n2
  """

  if operation.lower() == 'add':
    return n1+n2
  elif operation.lower() == 'subtract':
    return n1-n2
  elif operation.lower() == 'multiply':
    return n1*n2
  elif operation.lower() == 'divide':
    return n1/n2
  else:
    print(f'Opertation input can either take:- add, multiply, subtract or divide. You gave:- {operation}. Try again')

In [30]:
addition = basic_calc(2, 3, 'add')
print(addition)

5

In [31]:
multiply = basic_calc(3, 3, 'multiply')
print(multiply)

9

In [32]:
basic_calc(3, 3, 'daskdjakdjak')

Opertation input can either take:- add, multiply, subtract or divide. You gave:- daskdjakdjak. Try again